# Python кеш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Кеш pytest
.pytest_cache/

# IDE файлы
.vscode/
.idea/
*.iml

# Логи и временные файлы
logs/
*.log
*.tmp
.DS_Store

# Архивные данные
archive/

#виртуальное окружение и переменные
.env
*venv

# скриншоты тестов
.png
.jpg
.jpeg
.gif
screenshots/